@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Bebas Neue;
    src: url(assets/fonts/BebasNeue-Regular.ttf)    
}

:root {
    --primary-bg-color: #c1f0c8
}

header {
    background-color: var(--primary-bg-color);
    width: 100%;
}

body {
    margin: 0;
}

.page {
    margin-left: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 100px; 
    border-bottom: 2px solid black;
}

.logo img {
    height: 75px;
    width: auto;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.navbar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
}

.navbar a:hover {
    background-color: #a7d1ae;
}

/*
.navbar a:active {
    border-bottom: 3px solid black;
}
*/

h1, h2 {
    font-family: Inter;
}

p, table, th, td {
    font-family: Open Sans;
}

a {
    font-family: Bebas Neue;
    font-size: 40px;
}

th, td {
    padding-right: 5px;
}

table, th, td {
  border:2px solid black;
  border-collapse: collapse;
}

@media (max-width: 456px)
{

}