@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Bebas Neue;
    src: url(assets/fonts/BebasNeue-Regular.ttf)    
}

* {
    font-family: Open Sans;
}

:root {
    --primary-bg-color: #c1f0c8
}

header {
    background-color: var(--primary-bg-color);
    width: 100%;
}

body {
    margin: 0;
}

.page {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: scroll;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 100px; 
    border-bottom: 2px solid black;
}

.logo img {
    height: 75px;
    width: auto;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.navbar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
}

.navbar a:hover {
    background-color: #a7d1ae;
}

.hamburger {
    display: none;
    margin-left: auto;
    padding: 0 20px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.text-body {
    padding-top: 10px;
}

footer {
    padding-top: 10px;
}

/*
.navbar a:active {
    border-bottom: 3px solid black;
}
*/

h1, h2 {
    font-family: Inter;
}

h1 {
    text-align: center;
}

p, table, th, td {
    font-family: Open Sans;
}

.navbar-center > a {
    font-family: Bebas Neue;
    font-size: 40px;
}

th, td {
    padding: 5px 10px;
}

table, th, td {
  border:2px solid black;
  border-collapse: collapse;
}

th {
    background-color: var(--primary-bg-color);
}

@media (max-width: 480px) {
    .navbar {
        position: relative;
        padding: 0 20px;
    }

    .navbar-center {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--primary-bg-color);
        border-bottom: 2px solid black;
    }

    .navbar-center.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .page {
        width: 85%;
    }

    th, td {
        padding: 0 5px;
    }
}