@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

:root {
    --primary-bg-color: #c1f0c8
}

.navbar {
/*    position: fixed;
    top: 0;*/
    background-color: var(--primary-bg-color);
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
}

.navbar a:hover {
    background-color: #a7d1ae;
}

h1, h2 {
    font-family: Inter;
}

a, p, table, th, td {
    font-family: Open Sans;
}

th, td {
    padding-right: 5px;
}

table, th, td {
  border:2px solid black;
  border-collapse: collapse;
}