@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

:root {
    --primary-bg-color: #c1f0c8
}

.navbar {
    background-color: var(--primary-bg-color);
}

h1, h2 {
    font-family: Inter;
}

p, table, th, td {
    font-family: Open Sans;
}

th, td {
    padding-right: 5px;
}

table, th, td {
  border:2px solid black;
  border-collapse: collapse;
}