@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Bebas Neue;
    src: url(assets/fonts/BebasNeue-Regular.ttf)    
}

* {
    font-family: Open Sans;
}

:root {
    --primary-color-bg: #ffffff;
    --primary-highlight-color: #c1f0c8;
    --text-color: #000000;
    --heading-text-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-bg: #1C1F22;
        --text-color: #ffffff;
    }
}

header {
    background-color: var(--primary-highlight-color);
    width: 100%;
}

body {
    background-color: var(--primary-color-bg);
    margin: 0;
}

.page {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: scroll;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 100px; 
    border-bottom: 2px solid black;
}

.logo img {
    height: 75px;
    width: auto;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    column-gap: 50px;
}

.navbar a {
    display: block;
    color: var(--heading-text-color);
    text-decoration: none;
    padding: 15px 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease-in-out;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.navbar a:hover {
    background-color: #a7d1ae;
}

.navbar-center a:hover {
    background-color: var(--primary-highlight-color);
    border-bottom: 2px solid var(--heading-text-color);
}

.navbar a.active {
    border-bottom: 2px solid var(--heading-text-color);
}

.hamburger {
    display: none;
    margin-left: auto;
    padding: 0 20px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.text-body {
    padding-top: 10px;
}

footer {
    padding-top: 10px;
}

/*
.navbar a:active {
    border-bottom: 3px solid black;
}
*/

h1, h2 {
    color: var(--text-color);
    font-family: Inter;
}

h1 {
    text-align: center;
}

p, table, td {
    color: var(--text-color);
    font-family: Open Sans;
}

th {
    color: var(--heading-text-color);
    font-family: Open Sans;
}

.navbar-center > a {
    font-family: Bebas Neue;
    font-size: 40px;
}

th, td {
    padding: 5px 10px;
}

table, th, td {
  border:2px solid var(--text-color);
  border-collapse: collapse;
}

th {
    background-color: var(--primary-highlight-color);
}

@media (max-width: 480px) {
    .navbar {
        position: relative;
        padding: 0 20px;
    }

    .navbar-center {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--primary-highlight-color);
        border-bottom: 2px solid var(--text-color);
    }

    .navbar a {
        padding: 15px 30px;
    }

    .navbar-center.show {
        display: flex;
    }

    /* No bottom border on mobile */
    .navbar a.active {
        border-bottom: none;
    }

    .hamburger {
        display: block;
    }

    .page {
        width: 85%;
    }

    th, td {
        padding: 0 5px;
    }
}